@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@100;300&display=swap");

html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img {
  border: 0;
}

h1,
h2,
h3 {
  font-family: "PT Mono", monospace;
}

h1 {
  font-size: 70px;
}

h2 {
  margin: 1em 0;
  font-size: 1.8em;
}

body {
  font-family: "Roboto", sans-serif;
}

.button {
  padding: 8px;
  font-size: 12px;
  letter-spacing: 2px;
}

.button__btn--login {
  background: transparent;
  border: 1px solid #000;
  opacity: 0.3;
}

.button__btn--login:hover {
  opacity: 1;
}

.button__btn--register {
  background: #4ca865;
  border: 1px solid #4ca865;
  color: #FFF;
}

.button__btn--register:hover {
  background: #9DCFAB;
  border: 1px solid #9DCFAB;
  color: #454545;
}

.about {
  width: 86%;
  display: flex;
  justify-content: flex-start;
  margin: 0rem auto;
  padding: 0em;
}

.about__map {
  position: relative;
  margin-right: 140px;
  padding-top: 1.7em;
}

.about__map__gmap {
  max-width: 122%;
  box-shadow: 22px -27px #3C91E6;
  z-index: 22;
  position: absolute;
}

.about__map__mani {
  max-width: 28%;
  height: 10em;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: -5em;
  border-left: 2em solid #3C91E6;
  box-shadow: -42px 33px #3C91E6;
}

.about__title {
  margin-top: 2em;
  font-size: 1.7em;
}

.about__xxx {
  right: 40px;
  height: 18em;
  margin-left: 4em;
  background: #000 url(../images/img-2.png);
  position: relative;
}

.about article {
  width: 23.6%;
}

.about article p {
  font-size: 0.9rem;
  width: 80%;
}

.footer {
  max-width: 86%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.footer__description {
  font-weight: 700;
}

.footer__logo {
  width: 38px;
  border-radius: 12px;
  margin-right: 10px;
}

.footer__title {
  font-size: 28px;
  font-weight: 700;
}

.footer__copyrights {
  color: #959595;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__photo {
  width: 55%;
  background: url(../images/img-1.png);
  position: relative;
}

.main__photo .stats {
  padding: 1.2em 1.2em;
  background: #FFF;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  display: flex;
}

.main__photo .stats article {
  margin-left: 1.5rem;
}

.main__photo .stats p {
  font-size: 0.9rem;
  max-width: 73%;
}

.main h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.main header {
  width: 34%;
  position: relative;
}

.main header h1 {
  max-width: 30%;
  margin-top: 2rem;
}

.main header h2 {
  font-weight: 400;
  font-size: 1.4rem;
  color: #A2A2A2;
}

.main header .stats {
  background: #E4572E;
  color: #FFF;
  font-size: 4em;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.1rem;
  left: -80px;
  max-width: 40%;
  box-shadow: 14px 18px #eacb31;
}

.nav {
  font-family: "PT Mono", monospace;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
}

.nav__logo {
  max-height: 3em;
  margin-right: 3em;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul li {
  float: left;
  margin-right: 1.6em;
}

.nav ul li a {
  color: #899797;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */