@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@100;300&display=swap');

h1,
h2,
h3 {
	font-family: $general-heading;
}

h1 {
	font-size: 70px;
}

h2 {
	margin: 1em 0;
	font-size: 1.8em;
}