//General

$bg_primary: #FFF;
$bg_secondary: #FFF;

$general-heading: "PT Mono", monospace;
$font-family-primary: "Roboto", sans-serif;


//Paleta de Colores

$white: #FFF;
$isabelline: #EEEDED;
$spanish_gray: #899797;

$coral: #eacb31;
$buff: #F1DD7B;
$vanilla: #F5E7A1;

$flame: #E4572E;
$light_red_ochre: #E87554;
$pastel_pink: #F2B2A0;

$shinny_shamrock: #4ca865;
$turquoise_green: #9DCFAB;
$pastel_gray: #BDDFC7;

$blue_de_france: #3C91E6;
$blue_jeans: #5FA5EA;
$jordy_blue: #82B9EF;

$black: #000000;
$outer_space: #454545;
$quick_silver: #A2A2A2;