.main {
	height: 440px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	&__photo {
		width: 55%;
		background: url(../images/img-1.png);
		position: relative;

		.stats {
			padding: 1.2em 1.2em;
			background: $bg_primary;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 50%;
			display: flex;

			article {
				margin-left: 1.5rem;
			}

			p {
				font-size: 0.9rem;
				max-width: 73%;
			}

		}

	}

	h3 {
		font-size: 2.4rem;
		font-weight: 600;
	}

	header {
		width: 34%;
		position: relative;

		h1 {
			max-width: 30%;
			margin-top: 2rem;
		}

		h2 {
			font-weight: 400;
			font-size: 1.4rem;
			color: $quick_silver;
		}

		.stats {
			background: $flame;
			color: $white;
			font-size: 4em;
			width: 125px;
			height: 125px;

			display: flex;
			justify-content: center;
			align-items: center;

			position: absolute;
			bottom: 1.1rem;
			left: -80px;
			max-width: 40%;
			box-shadow: 14px 18px $coral;
		}
	}

}