.nav {
	font-family: $general-heading;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 1em;

	&__logo {
		max-height: 3em;
		margin-right: 3em;
	}

	ul {
		list-style: none;
		display: flex;
		align-items: center;

		li {
			float: left;
			margin-right: 1.6em;
		}

		li a {
			color: $spanish_gray;
			text-decoration: none;
		}
	}
}